* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr; 
    grid-template-rows: auto 1fr 1fr auto;
    gap: 10px;
    height: 90vh;
}
.header {
    text-align: center;
    padding: 15px;
    border-radius: 5px;
    color: white;
    grid-column: 1/4;
    background: darkgreen;
}

.sidebar {
    background: orange;
    color: white;
    padding: 15px;
    text-align: center;
    border-radius: 5px;
    grid-row: 2/4;
}

.content1 {
    background: red;
    text-align: center;
    padding: 15px;
    border-radius: 5px;
    grid-column: 2/-1;
}
.content2 {
    background: fuchsia;
    padding: 15px;
    text-align: center;
    border-radius: 5px;
}
.content3 {
    background: bisque;
    padding: 15px;
    text-align: center;
    border-radius: 5px;
}

.footer {
    grid-column: 1/4;
    background: darkblue;
    color: white;
    text-align: center;
    padding: 15px;
    border-radius: 5px;
    
}